body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  ul {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #1c0360;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .result {
    color: white;
  }